body {
    margin: 0;
}

nav {
    padding: 0.5rem;
}

nav a {
    margin-right: 0.5rem;
}

main {
    max-width: 840px;
}

h1 {
    color: black;
}

main img {
    width: 200px;
    height: auto;
}

p {
    max-width: 800px;
}

footer {
    margin-top: 1rem;
}