/* Universal Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    font-family: Arial, sans-serif;
}

/* HEADER, GRID, FOOTER WIDTH */

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/* NAVIGATION */

nav {
    background-color: steelblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

/* GRID LAYOUT */

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
}

/* MAIN */

main {
    grid-column: 2;
}

/* ASIDE */

aside {
    grid-column: 1;
    grid-row: 1;

    width: 20rem;
    border: 1px solid gray;
    padding: 1rem;

    background-color: #eee;
    color: #333;
}

/* HEADING */

h1 {
    color: steelblue;
    border-bottom: 1px solid steelblue;
    margin-bottom: 1rem;
}

/* PROFILE IMAGE FLOAT */

main img {
    width: 150px;
    height: auto;

    float: right;

    border: 1px solid black;
    padding: 2px;

    box-shadow: 0 0 30px gray;

    margin: 0 0 1rem 1rem;
}

/* ASIDE IMAGE */

aside img {
    width: 200px;
    height: auto;
}

/* PARAGRAPH */

p {
    padding: 0;
    margin-bottom: 1rem;
}

/* BOX CLASS */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid gray;
    background-color: #eee;
}

/* FOOTER */

footer {
    margin-top: 15px;

    border-top: 1px solid black;

    text-align: center;

    padding: 1rem;
}